.primary__button {
  font: var(--dm-sans);
  font-size: 18px;
  color: var(--white);
  background: var(--purple-dark);
  border: none;
  padding-block: 26px;
  width: 100%;
  border-radius: 96px;
  cursor: pointer;
}