
:root { 
  --bg: #242629; 
  --white: #fffffe; 
  --border: #eff0f6; 
  --card__background: #16161a; 
  --grey: #94a1b2; 
  --blue-dark: #0e172c; 
  --purple-ligth: #b69eff; 
  --purple-dark: #7f5af0; 
  --h1: 700 3.125rem/normal Inter; 
  --h2: 700 2rem/normal Inter; 
  --body1-regular: 400 1.125rem/1.75rem Inter; 
  --body1-bold: 700 1.125rem/normal Inter;     
}

body {
  font: var(--body1-regular);
}

h1{
  color: var(--purple-dark);
  font: var(--h1);
}

h2{
  color: var(--grey);
  font: var(--h2);
}

p{
  color: var(--purple-ligth);
  font: var(--body1-bold);
}

